{{ $_hugo_config := `{ "version": 1 }` }}
<section class="speakers">

	<div class="inner">
		{{ .Inner }}
	</div>

	<ul class="shuffle">
		{{ range where $.Site.AllPages "Params.feature" false }}
		<li>
			{{ partial "speaker.html" . }}
		</li>
		{{ end }}
	
	</ul>

</section>
