{{ $_hugo_config := `{ "version": 1 }` }}
{{ $imgLabel := .Get "imgLabel" }}
{{ $logo := .Site.Params.logos.jumbo }}
{{ $hlogo := .Site.Params.logos.header }}
<div class="jumbo">
	<div class="jumbo-cover" style="background-image: url('{{ .Get "img" }}')" {{ if $imgLabel }}aria-label="{{ $imgLabel }}"{{ end }}></div>
	
	<div id="jumbo-overlay"></div>
	<div class="inner-wrapper">
		{{ if $hlogo }}
		<img class="jumbo-logo" src="{{ $hlogo }}" alt="logo {{ .Site.Title }}" style="width:43rem;">
		{{ end }}
		<div class="inner">
			{{ .Inner }}
		</div>
	</div>
	<div class="scroll-down" aria-hidden="true">
		{{ partial "icon.html" "scroll-down" }}
	</div>
</div>