

.type-charla-larga {
  --duration: '45 min';
}

.type-quickie {
  --duration: '15 min';
}

.type-charla {
  --duration: '30 min';
}

.type-taller {
  --duration: '45 min';
}
.type-taller-largo {
  --duration: '90 min';
}


.type-partida {
  --duration: '2 horas';
}

.type-partida-larga {
  --duration: '4 horas';
}

.type-mesaredonda {
  --duration: '60 min';
}


.type-especial {
  --duration: '60 min';
}

.type-premios {
  --duration: '45 min';
}
