
.page.codigo-de-conducta {


  main h1, #TableOfContents, main .content {
    max-width: var(--theJdrSize);
    margin: 0 auto;
  }


  .content {

    p {
      margin-left: var(--space-4);
      text-align: justify;

      &::first-letter {
        margin-left: var(--space-4);
      }
    }

    ul {
      margin-left: 2rem;

      li {
        line-height: 1.25;
      }
    }
  }
}

@include mq($until: xl) {
  .page.codigo-de-conducta {
    .content {
      padding: 0 .5em;
    }
  }
}