/* FAQ */
.page.faq, .page.fr-faq {


  @include mq($until: md) {
    .hero .description {
      padding: 0;
    }
  }

  main h1, #TableOfContents, main .content {
    max-width: var(--theJdrSize);
    margin: 0 auto;
  }

  .content {
    h1, h4, h5, h6 {
      color: var(--primary-txt);
    }

    h2, h3 {
      color: var(--primary);
    }

    h3, h4, h5, h6, & > ul, & > ol, & > p {
      margin-left: calc(var(--container-margin) - 2rem);
    }

    li {
      line-height: 1.5;
    }

    ul {
      @include mq($until: md) {
        padding-left: 2ch;
      }
    }

    mark {
      font-weight: bold;
      border-radius: .25em;
      padding: .125em;

      &.a {
        color: var(--fg-mark-a);
        background-color: var(--bg-mark-a);
      }
      &.b {
        color: var(--fg-mark-b);
        background-color: var(--bg-mark-b);
      }
      &.t2 {
        color: var(--fg-mark-t2);
        background-color: var(--bg-mark-t2);
      }

    }
  }
}


@include mq($until: xl) {
  .page.faq, .page.fr-faq {
    .content {
      padding: 0 .5em;
    }
  }
}