.home main {

  & > section {
    margin: 0;
    padding: 4rem;

    h2 {
      margin-bottom: 1.5rem;
      padding: 0;
      font-size: 2rem;
      line-height: 1.875rem;
      font-weight: 300;
    }
  }

  .info {
    display: flex;
    flex-wrap: wrap;

    .wrapper {
      max-width: var(--theJdrSize);
      margin: 0 auto;
      display: flex;
    }

    @include mq($until: md) {
      text-align: center;
    }

    .inner {
      flex: 1 1 auto;
      max-width: 33vw;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include mq($until: xl) {
        max-width: 100%;
      }
    }

    .numbers {
      flex: 1 0 23vw;
      margin: 0 2rem;
      min-width: 23vw;
      display: flex;
      justify-content: space-between;
      width: 100%;

      @include mq($until: md) {
        margin: 0;
      }
    }

    .number {
      strong {
        font-size: 3.5rem;
        font-weight: 100;

        &::after {
          content: '';
          display: block;
          height: .125rem;
          width: 2rem;
          background-color: var(--primary);
        }
      }

      div {
        margin: var(--space-1) 0;
      }
    }
  }

  .speakers {
    .inner {
      max-width: var(--theJdrSize);
      margin: 0 auto;
    }
    ul {
      max-width: var(--theJdrSize);
      margin: 0 auto;

      padding-left: 0;
      list-style: none;
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      flex-wrap: wrap;

      li {
        margin: var(--space-4);
      }

      // Keep only 4 first speakers
      li:nth-child(n+50) {
        display: none;
      }
    }
  }

  .subscribe {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .youtube-section {
    text-align: center;

    .inner {
      max-width: var(--theJdrSize);
      margin: 0 auto;
      padding: var(--space-4);
      border-radius: var(--space-3);
      position: relative;
      overflow: hidden;
      text-shadow: 0 1px 1px var(--darken-3);
      text-align: center;

      .youtube-player {
        border: 4px solid white;
        background-color: black;
      }
    }

    @include mq($until: lg) {
      .inner {
        padding: 0;
        max-width: 80vw;
      }
    }
  }

  .tickets {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      font-size: 80%;
    }
  }

  .location {
    padding: 0;
    position: relative;
    background: var(--darken-1);
    font-weight: 300;

    .map {
      display: block;
      height: 664px;
      background-position: center center;
      background-size: cover;
    }

    .description {
      display: inline-block;
      padding: var(--space-4);
      width: 400px;
      position: absolute;
      bottom: 2rem;
      right: 2rem;
      background-color: var(--primary);
      color: var(--primary-txt);

      .direction {
        display: flex;
        align-items: center;
      }
    }
  }

  .partners {
    .inner {
      h2 {
        text-align: center;
      }
    }
  }
}

@supports (grid-template-columns: repeat(auto-fit,minmax(25vmin,1fr))) {
  .home main .info .numbers {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@include mq($until: lg) {
  .home main {
    & > section {
      padding: 2rem;
    }

    .location .description {
      position: relative;
      top: unset;
      bottom: unset;
      left: 0;
      right: unset;
      width: 100%;
    }
  }
}