{{ define "main" }}

{{ .Content }}

<section>
	<ul class="talks">
		{{ $sessions := where .Site.AllPages ".Section" "sessions" }}
		{{ $types := (slice "especial" "mesaredonda" "partida" "partida-larga" "premios" "charla-larga" "quickie" "charla" "taller-largo" "taller") }}
		{{ range sort $sessions ".Date" }}
		{{ if intersect (slice .Params.format) $types }}
		<li class="talk tag-{{ anchorize (delimit (.Params.tags | default (slice)) "" ) }}">{{ partial "session.html" . }}</li>
			{{ end }}
		{{ end }}
	</ul>
</section>

{{ end }}
